@import 'reset';
@import 'variables';
@import 'animation';


html, body {
    font-family: $font-basic;
    font-size: 10px;
    font-weight: 400;
    height: 100%;
    min-width: 320px;
    position: relative;
    color: $color-main;
}

.container {
    width: 100%;
    max-width: 1147px;
    margin: 0 auto;
    padding: 0 10px;
}

// HEADER

.header {
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 15px;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: block;
    width: 100%;
    max-width: 260px;
}

.munu {
    display: flex;
    width: auto;
    flex: 1 0 100%;
    justify-content: center;
}

.header__menu {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
}

.menu__link {
    font-size: 19px;
    font-weight: 400;
    color: $color-main;
}

.menu__link:hover {
    color: $color-active;
}

.social-link {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100%;
        &.social-link_inst {
           background: url(../images/instagram.png); 
        }
}

.munu__item {
    padding: 0 3%;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
}

// MAIN

.main {
    background-image: linear-gradient( 90deg, rgb(247,248,252) 0%, rgb(250,250,252) 100%);
}

.first-section {
    position: relative;
        &__btn {
            position: absolute;
            bottom: 40px;
            left:50%;
            transform: translate(-50%, 0); 
        }
}

.squre {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 174px;
        &__item {
            width: 174px;
            height: 174px;
            position: absolute;
            background-color: #fff;
            color:#e6eaf3;
            font-size: 34px;
            font-weight: 700;
            text-align: center;
            display: flex;
            align-items: center;
            -webkit-box-shadow: 17px 20px 60px 21px rgba(151, 180, 217, 0.2);
            -moz-box-shadow: 17px 20px 60px 21px rgba(151, 180, 217, 0.2);
            box-shadow: 17px 20px 60px 21px rgba(151, 180, 217, 0.2);
            opacity: 0.4;
        }

        &_left {
            left:0
        }

        &_right {
            right:0
        }
}

.squre_left .squre__item:nth-child(1){
    top:20px;
    transform: translate(40%, 0);
}

.squre_left .squre__item:nth-child(2){
    top: 50%;
    transform: translate(10%, -50%);

}

.squre_left .squre__item:nth-child(3){
    bottom:40px;
    transform: translate(100%, 0);
}

.squre_right .squre__item:nth-child(1){
    top:20px;
    transform: translate(-40%, 0);
}

.squre_right .squre__item:nth-child(2){
    top: 50%;
    transform: translate(-10%, -50%);
}

.squre_right .squre__item:nth-child(3){
    bottom:40px;
    transform: translate(-100%, 0);
}


.main-title {
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 60px 0 50px 0;
}

.first-section__animation-arrow {
    display: flex;
    justify-content: center;
}

.call-to-action {
    color: $color-active;
    text-align: center;
    display: block;
    font-size: 32px;
    font-weight: 500;
}

.chevron{
    position: relative;
    height: 28px;
    width: 28px;
}

.chevron__item {
    position: absolute;
    width: 28px;
    height: 28px;
    opacity: 0;
    animation: move 3s ease-out infinite;
  }
  
  .chevron__item:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron__item:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .chevron__item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../images/arrow.svg) no-repeat;
    background-size: contain;
    transform: rotate(90deg);
  }



// MAIN CONTENT

.main-content {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    position: relative;
}

.main-content__left, .main-content__right {
    position: absolute;
    width: 430px;
    display: flex;
}

.main-content__left {
    left: 0;
    justify-content: flex-start;
        img {
            position: absolute;
            right:0;
            top:30px
        }
    
}

.main-content__right {
    right: 0;
    justify-content: flex-end;
        img  {
            position: absolute;
            left:0;
            top:-10px;
        }
}

.main-content__title {
    position: absolute;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
}

// BTN

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 214px;
    padding: 20px 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 13px 10px 22px 8px rgba(218, 202, 202, 0.5);
        &_primary {
            background:  linear-gradient( 48deg, rgb(244,53,62) 0%, rgb(251,76,84) 100%);
            text-shadow: 0.819px 0.574px 3px rgba(170, 69, 29, 0.36);
        }
}


// CHECK

.check-section {
    padding: 25px 0;
    background-color: #eff3f8;
}

.check-section__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-section__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
   background-color: #f3f6f9;
   box-shadow:0px 20px 22px 0px rgba(130,143,168,0.3), 0px -3px 0px 0px rgba(255, 255, 255, 1), 0px 1px 0px 0px rgba(213, 222, 240, 1);
   border-radius: 12px;
}

.check-section__title {
    font-size: 24px;
    font-weight: 500;
    display: block;
    padding: 0 40px 10px 10px;
}

.language-check__list{
    display: flex;

}


.language-check__item {
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: stretch;
    padding: 27px 0;
        &:last-child{
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
        }
        span {
            display: block;
            font-size: 18px;
            font-weight: 400;
            padding: 15px  7px;
        }
        img {
            display: block;
            width: 100%;
            max-width: 46px;
        } 

    &:hover {
        background: $color-items-hover;
        cursor: pointer;
    }
    &_select{
        background: $color-items-hover; 
    }
}


// PRESENTATION

.presentation{
    background-color: #fafafc;
    position: relative;
    padding: 120px 0 50px 0;

    &__title {
        color: $color-active;
        text-transform:uppercase;
        font-size: 36px;
        font-weight: 500;
        padding-bottom: 68px;
        span {
            text-transform:lowercase;
            color: $color-main;
        }
    }
}

.labels__wrap {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.text-label {
    flex: 1 0 auto;
    width: 40%;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    box-shadow:11px 11px 33px 0px rgba(130,143,168,0.45);
    max-width: 264px;
    height: 190px;
    margin-right: 5%;
    margin-bottom: 7%;
}


.text-label__message{
    text-align: center;
}

.text-label_coffe {
    position: relative;
    overflow:visible;
    margin-bottom: 180px;
        &:before{
            content: '';
            position: absolute;
            width: 70px;
            height: 80px;
            background: url(../images/coffee1.png) no-repeat;
            bottom: -1px;
            left: 0;
        }
        &:after{
            content: '';
            position: absolute;
            width: 314px;
            height: 141px;
            background: url(../images/coffee2bg.png) no-repeat;
            bottom: -80px;
            left: -30px;
        }
}

.image-label {
    width: 208px;
    height: 208px;
    position: relative;
    box-shadow:11px 11px 33px 0px rgba(130,143,168,0.45);
    background: transparent;
    border-radius: 15px;
        img{
            border-radius: 15px;
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        span {
            position: absolute;
            bottom: -30px;
            display: block;
            width: 100%;
            text-align: center;
            left:0;
            font-size: 22px;
        }
}

.labels__wrap_image {
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.labels__wrap_image > * {
    flex: 0 1 auto;
    margin-right: 20px;
    margin-bottom: 120px;
}

.presentation__bg{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top:0;
    width: 40%;
    height: 100%;
    background: url(../images/circle-up_full.png) no-repeat right center;
    background-size: contain;
        img {
            position: absolute;
            bottom:0;
        }
        > * {
            position: relative;
                &:first-child {
                    flex: 0 0 42%;
                }
                
                &:last-child {
                    flex: 0 0 58%;
                }
        }
}

.presentation__aerofon {
    position: absolute;
    z-index: 2;
    left:0;
    bottom:0;
    width: 100%;
    height: 100%;
}

